.header{
    min-height: 3.25rem;
    padding: 0.25rem 0.75rem;
    background: #000000;
    border-bottom: 0.1rem solid #303030;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
}

.headerLogo{
    height: 1.75rem;
}

.headerLine{
    width: 1px;
    background-color: white;
    border: none;
    height: 1.75rem;
    margin: 0;
}

.headerTitle{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}