.header{
    position: fixed;
    width: 100%;
    min-height: 3.25rem;
    padding: 0.25rem 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    box-shadow: 0 2px 5px 1px black;
    backdrop-filter: blur(10px) brightness(0.75);
    border: 0.1rem solid rgba(30, 30, 30, 0.25);
}

.headerLogo{
    height: 1.75rem;
}

.headerLine{
    width: 1px;
    background-color: white;
    border: none;
    height: 1.75rem;
    margin: 0;
}

.headerTitle{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}