.movie{
    background-color: #000000;
    padding: 1rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie:nth-child(1){
    margin-top: 3.75rem;
}
.movie:nth-child(2){
    margin-top: 3.75rem;
}
.movie:nth-child(3){
    margin-top: 3.75rem;
}
.movie:nth-child(4){
    margin-top: 3.75rem;
}

@media (max-width: 950px){    
    .movie:nth-child(4){
        margin-top: 0;
    }
}

@media (max-width: 750px){
    .movie:nth-child(3){
        margin-top: 0;
    }    
}

@media (max-width: 500px){
    .movie:nth-child(2){
        margin-top: 0;
    }
}

.moviePoster{
    width: 100%;
    height: auto;
    border-radius: 0.15rem;
    display: block;
}

.movieTitle{
    margin: auto 0 0;
    font-size: 1.5rem;
}

@media (max-width: 500px){
    .movieTitle{
        margin: 1rem 0 0;
        font-size: 1.5rem;
    }    
}

.movieDate{
    font-size: 1.25rem;
    margin:0;
    font-weight: 400;
}

.movieService{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #7D7D7D;
}

.movieTitle, .movieDate, .movieService, .movieRating{
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-touch-callout: none;
}

.movieRating{
    margin: 0 auto 0 0;
    display: inline-block;
    padding: 0.15rem 0.3rem;
    border: 0.1rem solid #ffffff;
    border-radius: 0.15rem;
    font-size: 1.1rem;
}

.Taylor{
    border: 0.1rem solid #fdc500;
}
.Jose{
    border: 0.1rem solid #6a994e;
}
.Victor{
    border: 0.1rem solid #303030;
}
.All{
    border: 0.1rem solid #f35b04;
}