html, body{
  margin: 0;
  height: 100%;
  scrollbar-width: none;
}

body{
  font-family: system,-apple-system,".SFNSText-Regular","San Francisco",Roboto,"Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
  background: url(./assets/background.png);
  background-size: 40em ;
  color: white;
}

image{
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-touch-callout: none;
}